[user]
	name = Eric Christiansen
	email = ericmc@google.com
[github]
	user = emchristiansen
	token = 276a6c41b24122e1dc98638bf13149f4
[color]
	ui = true
[push]
	default = simple
[core]
	editor = emacs
	filemode = false
